In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Make a reference to the books.csv file path
#csvpath = 'Resource\books.csv'
csvpath = os.path.join('Resources','books.csv')

# Import the books.csv file as a DataFrame
books_df = pd.read_csv(csvpath)

FileNotFoundError: [Errno 2] File b'Resources/books.csv' does not exist: b'Resources/books.csv'

In [ ]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"

books_subset_df = books_df[['isbn', 'original_publication_year', 'original_title', 'authors', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5']]
books_subset_df

In [22]:
# Rename the headers to be more explanatory

cols_to_rename = {
    'isbn':'ISBN',
    'original_publication_year':'Publication Year',
    'original_title':'Original Title',
    'authors':'Authors',
    'ratings_1':'One Star Reviews',
    'ratings_2':'Two Star Reviews',
    'ratings_3':'Three Star Reviews',
    'ratings_4':'Four Star Reviews',
    'ratings_5':'Five Star Reviews'
}

books_df_renamed = books_subset_df.rename(columns=cols_to_rename)
books_df_renamed

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,105,575,3538,7860,6778
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,303,551,1737,3389,6972
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,11,111,1191,4240,5180
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,275,1002,3765,4577,2375
9999,375700455,1998.0,The First World War,John Keegan,117,345,2031,4138,3069

In [25]:
# Push the remade DataFrame to a new CSV file

output_path = os.path.join('Output','books_new.csv')

books_df_renamed.to_csv(output_path, index=False)

In [24]:
books_subset_df

,isbn,original_publication_year,original_title,authors,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,105,575,3538,7860,6778
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,303,551,1737,3389,6972
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,11,111,1191,4240,5180
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,275,1002,3765,4577,2375
9999,375700455,1998.0,The First World War,John Keegan,117,345,2031,4138,3069